body{height: 100%;min-width: 1000px;cursor: default;font: 12px arial;  
    background-color: white;    }
.wrapper{position: relative;}
/*首页头部左侧的天气部分*/
.top-left-menus {
	position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 32px;
    line-height: 32px;
    padding-right: 15px;
}
.top-left-menus .topWeather{
  float: left;
  height: 32px;
padding: 3.5px 0;
  vertical-align: bottom;
}
.top-left-menus a {
    margin-left:15px; 
    color: #555;
    text-decoration: underline;
    outline: none;
    display: inline-block;
}
/*首页头部右侧的天气部分*/
.top-right-menus{
    z-index: 99;
	position: absolute;
    top: 0;
    right: 0;
    width: 590px;
    font-size: 13px;
    text-align: right;
    color: #999;
}
.top-right-menus .mnav {
    
    font-weight: bold;
}

.top-right-menus a {
    position: relative;
    height: 32px;
    line-height: 32px;
    margin-left:19px; 
    color: #555;
    text-decoration: underline;
    outline: none;
    display: inline-block;

}

.top-right-menus .topmore{
	width: 86px;
    color: white;
    background: #398bfb;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #398bfb;
    text-decoration: none;
    vertical-align: top;
    position: relative;
        z-index: 1;
}
/*首页头部右侧的更多隐藏部分*/
.topmorehiden {
        opacity: 1;
        min-height: 600px;
        display: none;
        position: absolute;
        z-index: 999;
        right: 0;
        top: 0;
        width: 85px;
        border-left: 1px solid #e7e7e7;
        background-color: #f9f9f9;
        overflow: hidden;
        text-shadow: none;
    }
    
    .topmorehiden .topmoret {
        color: #333;
        text-align: center;
        width: 66px;
        height: 30px;
        line-height: 34px;
        padding-bottom: 10px;
        margin: 0 auto;
        border-bottom: #f0f0f0 1px solid;
        font-size: 13px;
        cursor: default;
    }
    .topmorehiden .topmoreb a{
        display: block;
        text-align: center;
        width: 66px;
        height: 76px;
        margin: 0 auto;
        font-size: 12px;
        line-height: 14px;
        overflow: hidden;
        text-shadow:none;
        text-decoration: none;

    }
    .topmorehiden .topmoreb a img{
        display: block;
        height: 36px;
        width: auto;
        margin: 10px auto 5px;
    }
    .all-link-box a{
        margin:10px auto;
        text-decoration: none;
    }

/*主体部分*/
.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}
.container{
    width: 1000px;
    min-height: 293px;   
    position: relative;
    margin: 0 auto; 
    margin-bottom:30px;

    
}
.content {
    
  
height: 100%;
min-height: 293px;
margin: 0 auto 0 auto;
text-align: left;
z-index: 100;
}
.contentb{
  height: 100%;
}
.contentb .contentbt{
  height: 61.8%;
min-height: 181px;
position: relative;
z-index: 80;
text-align: center;

}
.contentbt img{
position: absolute;
bottom: 10px;
left: 50%;
margin-left: -135px;
}
.contentb form{
    z-index: 90;
    margin: 0 auto;
    width: 656px;
    height: 40px ;
    vertical-align: top;

}
.form-inp{

text-align: left;
}
.f-sb{
  float: left;
zoom: 1;
vertical-align: top;
}
.form-inp input {
margin: 0;
width: 536px;
height: 22px;
padding: 9px 7px;
font: 16px arial;
border: 1px solid #b8b8b8;
border-bottom: 1px solid #ccc;
border-right: 0;
vertical-align: top;
outline: none;
box-shadow: 0 0 1px #b8b8b8 ;
}
.form-inp:hover input{
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #b3b3b3;
    box-shadow: none ;
}
.form-inp input:focus{
    border-top: 1px solid #38f;
    border-left: 1px solid #38f;
    border-bottom: 1px solid #38f;
    box-shadow: none ;
}
.form-btn{
width: 102px;
height: 38px;
border: 1px solid #38f;
border-bottom: 1px solid #2e7ae5;
background-color: #38f; 
}
.form-btn button {
cursor: pointer;
width: 102px;
height: 41px;
line-height: 38px;
padding: 0;
border: 0;
background: none;
background-color: #38f;
font-size: 16px;
color: white;
box-shadow: none;
font-weight: normal;
}


.mousedownlogo{
  display: none;
  -webkit-animation:fadein 1s;
  float: left;
  vertical-align: middle;
  width: 101px;
  height: 36px; 
  position:fixed;
  top:15px;
  left:236px;
}
.form_sl{
  position:fixed;
  top:15px;
  left:362px;
}
.tophr{
  border: 2px solid #ccc;
  width: 1000%;
  height: 0px;
  position:fixed;
  top:75px;
  display: none;
}
#s_wrap{
    padding-top: 0;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    min-height: 500px;

}
.s-mancacrd-main{
    position: relative;
    z-index: 2;
    display: block;
    
}
.s-menu-gurd{
  background: #fff;
   position: relative;
    z-index: 11111;
    width: 893px;
    margin: 0 auto;
    border: 1px solid #e9e9e9;
    border-bottom: 0;
    height: 39px;
    line-height: 39px; 
}
.s-menu-gurd ul li{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    display: block;
    padding: 0 15px;
    float: left;
    background-color: #fff;
    color: #484141;
    border: 0;
}
#tabsecond li.tabin{
    background-color: #f2f6f8;
    border: 1px solid #f2f6f8;
}

.utrs {
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: auto;
    background: url('../images/index.png?__sprite') no-repeat -30px  -122px !important;
}
.setting  {
    float: right;
    width: 30px;
    height: 30px;
    background: url('../images/index.png?__sprite') no-repeat -327px -118px !important;
} 
#contentsecond{
    margin: auto;
    background-color: #fff;
    width: 893px;
    border: 1px solid #e9e9e9;
    height: 400px;
} 

/*底部*/

footer {  
    position: absolute;    
    text-align: center;
    width: 100%;
    height: 47px;
}

.ft {
    
    margin: 0 auto;
}
.ft p{
   color: #999;
}
.ft p a {
    color: #999;
    text-decoration: underline;
}
.ft p a:first-child{
  margin-right: 10px;

}
.recordcode{
  margin-top: 5px;
}
.recordcode  a{
  text-decoration: none !important;
}
.recordcode  i{
   vertical-align: middle;
    margin-top: -4px;
    display: inline-block;
    width: 14px;
    height: 16px;
    margin-right: 6px;
    background: url('../images/icon-police.png?__sprite') 0 0 no-repeat;
}
a.more span{display: none;}
a.more:hover span{display: block;}
/*换肤*/
.cscontainer {
      display: none;
      position: relative;
      z-index: 999;
      background-color: #fff;
    }
.cscontainer .changeskin{
    height: 47px;
    width: 100%;
    border-bottom: 1px solid #ccc;
} 

.changeskin .csbody{
  position: relative;
  width:893px;
  margin: 1px auto;
  
}
.csbody ul li{
   cursor: pointer;
    font-size: 13px;
  display: inline-block;
  height: 47px;
  line-height: 47px;
  padding: 0 5px;

}
.csshou{
  position: absolute;
  top:15px;
  right: 0;
  display: inline-block;
  cursor: pointer;
    font-size: 13px;
}
.csshou i{

  display: inline-block;
  background-image: url('../images/shou.jpg?__sprite');
  width: 14px;
  height: 14px;
}
.csshou span{
  color: #0079f5;
}
.cscontainer .cscontent{
  height: 240px;
  width: 100%;
  padding: 25px 0 0 0;
  border-bottom: 1px solid #ccc;
}
.cscontent .cscbody{  
  height: 215px;
  width:893px; 
  position: relative; 
  margin: 0 auto;
}
.cscbody .csleft{
float: left;
width: 587px;
height: 179px;
position: relative;
}

.csleft .content-tt{
  position: relative;
  top:0;
  left: 0;
  display: none;
}

.skin-img-item{
  position: absolute; 
  cursor: pointer;
  height: 59px;
  width: 97px;
  background-color: #f5f5f5;  
}
.cscontent .big-img-li{
  width: 195px;
height: 119px;

}
.skin-img-item img {
  width: 97px;
height: 59px;
line-height: 59px;
}
.big-img-li img{
  width: 195px;
height: 119px;
line-height: 119px;
}
.pos-0{
  top: 0px;
left: 0px;
}
.pos-1{
  top: 120px;
left: 0px;
}
.pos-2{
  top: 120px;
left: 98px;
}
.pos-3{
top: 0;
left: 196px;
}
.pos-4{
top: 60px;
left: 196px;
}
.pos-5{
  top: 120px;
left: 196px;
}
.pos-6{
top: 0;
left: 294px;
}
.pos-7{
top: 0;
left: 392px;
}
.pos-8{
top: 60px;
left: 294px;
}

.pos-9{
top: 0;
left: 490px;
}
.pos-10{
top: 60px;
left: 490px;
}
.pos-11{
top: 120px;
left: 490px;
}
.cscontent .s-skin-page{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 587px;
  height: 33px; 
  line-height: 33px;
  text-align: center;
}
.s-skin-page li{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin-right: 10px;
  cursor: pointer; 

}
.s-skin-page .s-skin-pagenum{
  width: 5px;
  height: 5px;
  border: 1px solid #ccc;
}
.s-skin-pm{
  background-color: #ccc;
  border: none;
}
.s-skin-prew{
  float: right;
position: relative;
}
.s-skin-prew .skin-prew-con{

width: 260px;
height: 280px;
overflow: hidden;

}

.s-skin-prew .skin-prew-top{
  height: 17px;
  line-height: 17px;
  background-color: #ccc;
}
.s-skin-prew .skin-prew-body{
  width: 260px;
  height: 163px;
  background-color: #ccc;
}
.skin-prew-top span{

  margin-left: 5px;
  display: inline-block;
  width: 1px;
  height: 1px;
  border:  1px solid #ccc;
  border-radius: 50%;
}
.skin-prew-body img{
  width: 260px;
  height: 163px;
}
.skin-prew-con p{
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  color: #666;
 
}
.pc-menu-set-gg{
   width: 74px;
   margin-left: -35px;   
  background: #ffffff;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: 1px 1px 5px #d1d1d1;
  -moz-box-shadow: 1px 1px 5px #d1d1d1;
  box-shadow: 1px 1px 5px #d1d1d1;
  
}
.pc-menu-set-list{
  position: absolute;
  display: none;
  top: 30px;
  left: 78%;

}
.pc-menu-set-gg:before {
        position: absolute;
        top: -16px;
        left: 25px;
        content: '';
        display: block;
        border: 8px solid transparent;
        border-bottom-color: #d1d1d1;
    }
    .pc-menu-set-gg:after {
        position: absolute;
        top: -14px;
        left: 26px;
        content: '';
        display: block;
        border: 7px solid transparent;
        border-bottom-color: #ffffff;
    }


.pc-menu-set-gg a {

        margin: 0;
        display: block;
        line-height: 26px;
        text-align: center;
        text-decoration: none!important;
        font-weight: normal!important;
    }
.pc-menu-set-gg a:hover {
        color: #ffffff!important;
        background: #38f;
    } 
.pc-menu-use{
  position: absolute;
      width: 74px;
    top: 30px;
    left: 70%;
    display: none;
}
/*.mnavsetting:hover .pc-menu-set-list{
 display: block;
}*/